<%- include('layout') %>
<h1>About Me</h1>
<h2>2nd Year IT:Networking and IT Security Student</h2>
<article id="Description">
    <p>Hi guys, my name is Rafay! I am a dedicated 2nd-year Information Technology student specializing in Networking and IT Security. With a strong foundation in networking, security, coding, and cloud technologies, I have developed proficiency in tools such as Cisco Packet Tracer, Kali Linux, Python, C++, and Microsoft Azure. My passion for technology drives me to continually expand my knowledge and skills in the field. Currently, I am focused on achieving key certifications, including the Microsoft Azure Fundamentals and CCNA, to deepen my expertise and prepare for a career in cloud computing. My goal is to break into the industry as a solutions architect, where I can leverage my skills in cloud technologies to design efficient and scalable solutions for businesses. I am always eager to learn, collaborate, and contribute to innovative projects that push the boundaries of technology.</p>
    <div id="video">
      <video width="600" controls poster="images/P1.JPG">
          <source src="vids/Vid1.mp4" type="video/mp4">
          <source src="vids/Vid1.ogg" type="video/ogg">
          Your browser does not support the video tag.
      </video>
    </div>    
  </article>
