<%- include('layout') %>
<div id="contact-me">
    <h1>Let's Stay in Touch</h1>
    <form action="mailto:rafay.khan1@ontariotechu.net" method="post" enctype="text/plain">
      <p>
        <label for="fullName">Name:</label>
        <input type="text" id="fullName" name="Name" placeholder="Your Full Name" required>
      </p>
      <p>
        <label for="email">Email:</label>
        <input type="email" id="email" name="Email" placeholder="example@gmail.com" required>
      </p>
      <p>
        <label for="description">Description:</label><br>
        <textarea id="description" name="Description" rows="6" placeholder="Brief description of your email..." required></textarea>
      </p>
      <p>
        <input type="submit" value="Submit">
      </p>
    </form>              
</div>