<%- include('layout') %>
<section id="projects">
    <h1>Here are some Recent Projects ☺</h1>
          <div id="project1">
              <h2>Cryptography Cipher</h2>
              <p>This Python program allows the user to input a message, encrypts it using one of six available ciphers, and outputs the encrypted message along with a key. The key can be used to decrypt the message in the future.</p>
            </div>

          <div id="project2">
              <h2>C++ Calculator</h2>
              <p>A simple C++ calculator that prompts you to input any two numbers and whether you would like to add, subtract, multiply, or divide the two numbers.</p>
          </div>

          <div id="project3">
              <h2>C++ Currency Amount Textualizer</h2>
              <p>This C++ code is designed to convert a numerical monetary amount (in dollars and cents) into its worded equivalent.</p>
          </div>
  </section>